.dashboard {

    .history
    {
        width: 80%;

        .history-table
        {
            width: 100%;
        }
    }

    p {
        text-align: justify;
    }



    div[fxLayoutAlign] { padding:10px; padding-left: 25px; padding-top:15px;}

    .dashboard-card {
        //height: 100%;
        //margin: 20px;
        min-height: 150px;
        //width: 100%;
    }

    .balance-card {
        //height: 100%;
        //margin: 20px;
        min-height: 150px;
        min-width: 480px;
        //width: 100%;
    }

    .mat-card-title {
        text-align: center;
    }

    .text-uppercase {
        font-size: medium;
    }

    .internal-cards {
        background: #3f0f79 !important;
        color: white;
        height: 300px !important;
    }

    .mat-card-actions {
        margin-left: 0px;
    }

    .card-image {
        text-align: center !important;
        width: 20%;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }

    .internal-content {
        margin-bottom: 10px;
        height: 150px;
        text-align: center !important;
    }

    .cancel-button {
        color: #3f0f79 !important;
        margin-bottom: 20px;
        margin-left: 0px !important;
        background: #b7e5f9;

    }



    .dashboard-card-know-us {
        height: 180px;
        background: white !important;

        .card-logo {
            height: 180px !important;
        }
    }

    .mat-grid-tile .mat-figure
    {
        align-items: flex-start;
    }

    .dashboard-coinmap {
        min-height: 200px;
    }

    .dashboard-info-icon {
        float: right;
        cursor: default;
    }

    .dashboard-send {
        background-color: #3f0f79;
        color: white;
    }

    .dashboard-receive {
        background-color: #b7e5f9;

    }

    .transaction-details-button
    {
        height: 10px;
        margin: 0;
        padding: 0;
    }

    .transaction-details-button .mat-icon
    {
        font-size: 10px;
        margin: 0;
        padding: 0;
    }

    .link {
        cursor: pointer;
    }

    .mat-card {
        margin-bottom: 20px;
        height: 180px;
    }

    .dashboard-split-card {
        display: flex;
        flex-direction: row;
    }

    .dashboard-split-left {
        flex-grow: 2;
        min-width: 230px;
        width: 65%;
    }

    .dashboard-split-right {
       padding-left: 20px;
       flex-grow: 1;
       width: 35%;
       align-self: center;
    }

    .marketprice
    {
        color: green;
    }

    .marketprice-negative
    {
        color: red;
    }

    .marketprice-larger
    {
        font-size: 1.2rem;
    }

    .marketprice-table
    {
        width: 100%;
    }

    @media screen and (max-width: 599px) {
        .dashboard-split-card
        {
            flex-direction: column;
        }

        .dashboard-split-left {
            flex-grow: 2;
            width: 100%;
        }

        .dashboard-split-right {
            flex-grow: 1;
            width: 100%;
            align-self: center;
         }
    }
}
