<div class="content">

    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex fxLayoutGap="20px grid" fxLayoutGap.xs="0px grid" fxLayoutGap.sm="0px grid">
        <div fxFlex>
            <mat-card class="balance-card">
                <mat-icon class="dashboard-info-icon" [matTooltip]="walletInfo">info</mat-icon>
                <mat-card-title>Balance</mat-card-title>
                <mat-card-subtitle>The balance of: {{wallet.walletName}}</mat-card-subtitle>
                <mat-card-content>
                    <p>
                        <strong>{{ (wallet.confirmedBalance | coinNotation| number: '1.0-8': this.localeService.locale) || (0 | coinNotation) }}</strong>
                        <small class="text-uppercase"><b> {{ wallet.coinUnit }} </b></small>
                    </p>
                    <ul *ngIf="wallet.unconfirmedBalance">
                        <li>
                            <strong>{{ (wallet.unconfirmedBalance | coinNotation | number: '1.0-8': this.localeService.locale) || (0 | coinNotation) }}</strong>
                            <em> (unconfirmed)</em>
                        </li>
                    </ul>

                    <p>
                        <button mat-stroked-button class="dashboard-send" routerLink="/wallet/send">Send</button>&nbsp;
                        <button mat-stroked-button class="dashboard-receive" routerLink="/wallet/receive">Receive</button>&nbsp;
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex>
            <mat-card class="dashboard-card-know-us">
                <img src="assets/exos-core/exos-dashboard.png" class="card-logo">
            </mat-card>
        </div>
    </div>
</div>

<div class="content">
    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex fxLayoutGap="20px grid" fxLayoutGap.xs="0px grid" fxLayoutGap.sm="0px grid">
        <div fxFlex>
            <mat-card  class="internal-cards">
                <mat-card-title>CONNECT</mat-card-title>
                <br>
                <mat-card-content class="internal-content">
                    <p>Join the ExO Economy newsletter to digitize your path to becoming an exponential entrepreneur and organization</p>
                    <img src="assets/exos-core/dblaptop.png" class="card-image-laptop">
                </mat-card-content>
                <mat-card-actions>
                    <br>
                <button class="cancel-button" mat-stroked-button color="primary" onclick="window.open('https://economy.openexo.com/contact')">SUBSCRIBE</button>&nbsp;

            </mat-card-actions>
            </mat-card>
        </div>
        <div fxFlex>
            <mat-card  class="internal-cards">
                <mat-card-title>COMMUNITY</mat-card-title>
                <br>
                <mat-card-content class="internal-content">
                    <p>Join the greater ecosystem with more than 7,000 coaches, investors, consultants to unlock abundance and change the world</p>
                    <img src="assets/exos-core/dbconnect.png" class="card-image">
                </mat-card-content>
                <mat-card-actions>
                    <br>
                <button class="cancel-button" mat-stroked-button color="primary" onclick="window.open('https://www.openexo.com')">JOIN</button>&nbsp;
                </mat-card-actions>
            </mat-card>
        </div>
        <div fxFlex>
            <mat-card  class="internal-cards">
                <mat-card-title>Decentralize , Autonomous</mat-card-title>
                <br>
                <mat-card-content class="internal-content">
                    <p>This community-driven utility token is the heartbeat, the nervous system, the mind of the new economy.
                       For people, organizations, developers, even cities & municipalities
                    </p>
                    <img src="assets/exos-core/dbbrain.png" class="card-image">
                </mat-card-content>
                <mat-card-actions >
                    <br>
                <button class="cancel-button" mat-stroked-button color="primary" onclick="window.open('https://economy.openexo.com/tools')">VIEW</button>&nbsp;
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
