.swaps-screen {
    margin: 0;
}

.swaps-screen > * .mat-tab-labels {
    background-color: #1a053d !important;
}

.swaps-screen > * .mat-tab-label {
    color: white;
    opacity: 1 !important;
}

.swap-title {
    padding-left: 20px;
}
.main-swap-title{
    display: flex;
    font-size: xx-large !important;
    font-weight: bold !important;
}

.swap-cards {
    padding: 100px;
}

.swap-card > mat-card {
    padding: 0;
    display: contents !important;
}

.swap-from , .swap-into {
    width: 250px !important;
    height: 130px !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.swap-from {
    background-image: url('../../../assets/exos-core/Transactions-Block.png') !important;
    background-size: cover !important;
    color: white !important;
}

.swap-into {
    background-image: url('../../../assets/exos-core/Button2.png') !important;
    background-size: cover !important;
    color: white !important;
}

.arrow-div {
    display: flex;
    justify-content: center;
}

.swap-links {
    text-decoration: none !important;
    border-radius: 25px !important;
    box-shadow: inset -5px 5px 5px rgba($color: white, $alpha: 0.4);
}

.exos-matcard-logo {
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

.secondary-logo {
    margin-right: 15px;
}

.swap-from .mat-card-content , .swap-into .mat-card-content {
    display: flex !important;
    flex-flow: column;
    align-items: center !important;
}

.swap-inner-title p {
    margin: 0;
}

.swap-inner-info {
    margin-top: 20px;
}

.swap-inner-title , .swap-inner-info {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.swap-inner-info p {
    margin: 0;
    opacity: 0.7;
}

.swapping-info {
    text-align: end;
    opacity: 0.4;
}

.mat-tab-label-active {
    background-image: url('../../../assets/exos-core/Button.png');
    background-size: cover;
}

.mat-tab-disabled {
    color: grey !important;
}

.swaps-screen > * .mat-tab-label[aria-posinset="1"] {
    display: none;
}

.swaps-screen > * .mat-tab-body-content {
    padding: 40px;
    height: auto !important;
}
.toDashboard {
    background: url('../../../assets/exos-core/Learn-Block.png');
    background-position: center;
    background-size: cover;
    width: 260px;
    height: 130px;
    padding: 15px;
    border-radius: 16px;
    flex: initial !important;
    text-decoration: none !important;
}

.swapping-tip {
    border-radius: 0 !important;
    box-shadow: none !important;
}

.swapping-tip > .mat-expansion-panel-header {
    height: 35px;
    padding: 0;
    background-color: #120030;
}

.swapping-tip > .mat-expanded , .swapping-tip > .mat-expansion-panel-header:hover {
    background-color: #120030 !important;
}

.swapping-tip > * .mat-expansion-panel-header-title {
    color: white;
}

.swapping-tip > * .mat-expansion-panel-body {
    background-color: #120030;
    color: white;
}

.panel-icon {
    margin-right: 10px;
}

.swapping-input-info {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-left: 20px;
}

.swapping-input-info > p {
    margin: 0;
}

.swapping-input-info > * .mat-form-field-wrapper {
    padding-bottom: 0 !important;
}

.swapping-form {
    flex-direction: column !important;
}

.swapping-form > * .mat-form-field-wrapper {
    padding-bottom: 0 !important;
}

.swapping-input {
    margin-bottom: 10px;
}

.swapping-input > .mat-form-field {
    max-width: 60%;
}

.swapping-right-column {
    flex: none !important;
    align-items: flex-end;
}

.swapping-checkboxes {
    margin: 10px 0 30px;
}

.swapping-buttons {
    display: flex !important;
    justify-content: flex-end;
}

.swapping-buttons-2 {
    display: flex !important;
    justify-content: space-between;
    margin-top: 20px;
}

.swapping-buttons > button , .swapping-buttons-2 > button , .trouble-button {
    background: url('../../../assets/exos-core/Button2.png');
    background-size: cover;
    margin-left: 20px;
    color: white !important;
}

.trouble-button {
    width: 70%;
    margin: 30px 0;
}

.swapping-alert {
    border-radius: 15px;
    width: 100%;
}

.swapping-error-title {
    background-color: #ff737f;
    color: white;
    border-radius: 10px 10px 0 0;
    padding: 5px;
}

.swapping-error-description {
    background-color: white;
    color: #ff737f; 
    border-radius: 0 0 10px 10px;
    padding: 5px;   
}

.swapping-error-title > h3 , .swapping-error-description > p {
    margin: 0;
}

.warn-tip { color: #ff737f !important;}

.info-icon { color: #6ac0fe;}

.little-icon { font-size: 15px; }


/* mat-form-field styling */
::-webkit-input-placeholder { /* Edge */
    color: rgba(255, 255, 255, 0.70) !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(255, 255, 255, 0.70) !important;
}

::placeholder {
    color: rgba(255, 255, 255, 0.70) !important;
}

/* mat-form Border */
.mat-form-field-appearance-outline .mat-form-field-outline {
    color: white !important;
}
.mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: white !important;
}
.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick{
    color: white !important;
}
.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-label{
    color: red !important;
}
/* mat-form Border */
.mat-form-field.mat-focused .mat-form-field-label {
    color: white !important;
}
.mat-form-field .mat-form-field-label {
    color: white !important;
}
/* mat-form Font color */
input.mat-input-element {
    color: white !important;
}
