<div class="content swaps-screen not-selectable">
    <mat-tab-group>
        <mat-tab class="swapping-landing" label="Landing">
            <div class="swap-cards" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="space-around center">
                <div class="swap-card">
                    <h1 class="swap-title">Swap from</h1>
                    <mat-card>
                        <mat-card-content>
                            <a class="swap-from swap-links" href="https://link.exos.to/swapinfo1" target="_blank">
                                <div class="swap-inner-title">
                                    <img class="exos-matcard-logo" src="assets/exos-core/ExOEconomy-Logo-Symbol.png" alt="">
                                    <p class="main-swap-title">EXOS</p>
                                </div>
                            </a>
                        </mat-card-content>
                    </mat-card>
                    <div class="swap-inner-info">
                        <img class="secondary-logo" src="assets/exos-core/ExOEconomy-Symbol-opaque.png" alt="">
                        <p>EXOS blockchain,<br> ExO Economy's native currency</p>
                    </div>
                </div>
                <div class="arrow-div">
                    <img src="assets/exos-core/arrow-right-alt.png" alt="">
                </div>
                <div class="swap-card">
                    <h1 class="swap-title">Swap into</h1>
                    <mat-card>
                        <mat-card-content>
                            <a class="swap-into swap-links" href="https://link.exos.to/swapinfo2" target="_blank">
                                <div class="swap-inner-title">
                                    <img class="exos-matcard-logo" src="assets/exos-core/wEXOS.png" alt="">
                                    <p class="main-swap-title">wEXOS</p>
                                </div>
                            </a>
                        </mat-card-content>
                    </mat-card>
                    <div class="swap-inner-info">
                        <img class="secondary-logo" src="assets/exos-core/ethereum.png" alt="">
                        <p>EXOS equivalent on the Ethereum<br> blockchain; an ERC20 token</p>
                    </div>
                </div>
            </div>
            <div class="swapping-info">
                <h4>
                    *  the swapping features will be actived in the coming EXOS Core updates
                </h4>
            </div>
        </mat-tab>

        <mat-tab label="INFORMATION">
            <div fxLayout="column" fxLayout.xs="column" fxLayout.sm="column">
                <div fxFlex fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="space-between stretch">
                    <div fxFlex>
                        <h1>What you need to know before swapping EXOS to wEXOS?</h1>
                        <mat-accordion>
                            <mat-expansion-panel class="swapping-tip" hideToggle>
                                <mat-expansion-panel-header>
                                    <mat-panel-title class="warn-tip">
                                        <mat-icon class="panel-icon" aria-label="Print">warning</mat-icon>Video tutorial for getting wEXOS
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div></div>
                            </mat-expansion-panel>
                        </mat-accordion>
                        <mat-accordion>
                            <mat-expansion-panel class="swapping-tip" hideToggle>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <mat-icon class="panel-icon info-icon" aria-label="Print">info</mat-icon>What are wExos?
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div></div>
                            </mat-expansion-panel>
                        </mat-accordion>
                        <mat-accordion>
                            <mat-expansion-panel class="swapping-tip" hideToggle>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <mat-icon class="panel-icon info-icon" aria-label="Print">info</mat-icon>Why swap EXOS to wEXOS?
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div></div>
                            </mat-expansion-panel>
                        </mat-accordion>
                        <mat-accordion>
                            <mat-expansion-panel class="swapping-tip" hideToggle>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <mat-icon class="panel-icon info-icon" aria-label="Print">info</mat-icon>How to install Metamask?
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div></div>
                            </mat-expansion-panel>
                        </mat-accordion>
                        <mat-accordion>
                            <mat-expansion-panel class="swapping-tip" hideToggle>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <mat-icon class="panel-icon info-icon" aria-label="Print">info</mat-icon>How do I get a wEXOS receive address?
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div></div>
                            </mat-expansion-panel>
                        </mat-accordion>
                        <mat-accordion>
                            <mat-expansion-panel class="swapping-tip" hideToggle>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <mat-icon class="panel-icon info-icon" aria-label="Print">info</mat-icon>Why is there a minimum for EXOS exchanged?
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div></div>
                            </mat-expansion-panel>
                        </mat-accordion>
                        <mat-accordion>
                            <mat-expansion-panel class="swapping-tip" hideToggle>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <mat-icon class="panel-icon info-icon" aria-label="Print">info</mat-icon>Why does the process run in batches?
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div></div>
                            </mat-expansion-panel>
                        </mat-accordion>
                        <mat-accordion>
                            <mat-expansion-panel class="swapping-tip" hideToggle>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <mat-icon class="panel-icon info-icon" aria-label="Print">info</mat-icon>Who pays the ETH fees?
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div></div>
                            </mat-expansion-panel>
                        </mat-accordion>
                        <mat-accordion>
                            <mat-expansion-panel class="swapping-tip" hideToggle>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <mat-icon class="panel-icon info-icon" aria-label="Print">info</mat-icon>Why do we have daily and individual swap limits?
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div></div>
                            </mat-expansion-panel>
                        </mat-accordion>
                        <mat-accordion>
                            <mat-expansion-panel class="swapping-tip" hideToggle>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <mat-icon class="panel-icon info-icon" aria-label="Print">info</mat-icon>How do I check the status of my transaction(s)?
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div></div>
                            </mat-expansion-panel>
                        </mat-accordion>
                        <mat-accordion>
                            <mat-expansion-panel class="swapping-tip" hideToggle>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <mat-icon class="panel-icon info-icon" aria-label="Print">info</mat-icon>What is a decentralized exchange?
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div></div>
                            </mat-expansion-panel>
                        </mat-accordion>
                        <mat-accordion>
                            <mat-expansion-panel class="swapping-tip" hideToggle>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <mat-icon class="panel-icon info-icon" aria-label="Print">info</mat-icon>What is UniSwap?
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div></div>
                            </mat-expansion-panel>
                        </mat-accordion>
                        <mat-accordion>
                            <mat-expansion-panel class="swapping-tip" hideToggle>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <mat-icon class="panel-icon info-icon" aria-label="Print">info</mat-icon>How to use a liquidity pool?
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div></div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                    <a class="toDashboard" routerLink="/dashboard">
                        <div fxFlex>
                            <h1>wEXOS Portal</h1>
                            <p>Visit the dashboard and check out the EXOS/wEXOS learning materials</p>
                        </div>
                    </a>
                </div>
                <div fxFlex class="swapping-buttons">
                    <button mat-flat-button class="dashboard-send">LIST OF TRANSACTIONS</button>
                    <button mat-flat-button>INITIATE A NEW SWAP</button>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="INITIATE A SWAP">
            <div fxLayout="column" fxLayout.xs="column" fxLayout.sm="column">
                <div fxFlex fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="space-between stretch">
                    <div fxFlex fxLayout="column">
                        <h1>Initiate a new EXOS to wEXOS swap</h1>
                        <form class="swapping-form">
                            <div fxFlex fxLayout="row" class="swapping-input">
                                <mat-form-field appearance="outline">
                                    <mat-label>EXOS swapped</mat-label>
                                    <input matInput placeholder="0.00 EXOS">
                                </mat-form-field>
                                <div class="swapping-input-info">
                                    <!-- Here we need to add some info directly from the gateway -->
                                    <p>Current minimum: <mat-icon class="info-icon little-icon" aria-label="Print">info</mat-icon></p>
                                    <p>Current maximum: <mat-icon class="info-icon little-icon" aria-label="Print">info</mat-icon></p>
                                    <p>Next distribution: <mat-icon class="info-icon little-icon" aria-label="Print">info</mat-icon></p>
                                </div>
                            </div>
                            <div fxFlex fxLayout="row" class="swapping-input">
                                <mat-form-field appearance="outline">
                                    <mat-label>Swapping fees, covered in wEXOS</mat-label>
                                    <input matInput placeholder="0 wEXOS">
                                </mat-form-field>
                                <div class="swapping-input-info">
                                    <!-- Here we need to add some info directly from the gateway -->
                                    <p>wEXOS minting fee: TEMPORARILY waived <mat-icon class="warn-tip little-icon" aria-label="Print">info</mat-icon></p>
                                    <p>wEXOS transfer fee: TEMPORARILY waived <mat-icon class="warn-tip little-icon" aria-label="Print">info</mat-icon></p>
                                </div>
                            </div>
                            <div fxFlex fxLayout="row" class="swapping-input">
                                <mat-form-field appearance="outline">
                                    <mat-label>wEXOS to be received</mat-label>
                                    <input matInput placeholder="0 wEXOS">
                                </mat-form-field>
                                <div class="swapping-input-info">
                                    <!-- Here we need to add some info directly from the gateway -->
                                    <p>Expected delivery date: <mat-icon class="info-icon little-icon" aria-label="Print">info</mat-icon></p>
                                </div>
                            </div>
                            <div fxFlex fxLayout="column" class="swapping-input">
                                <mat-form-field appearance="outline">
                                    <mat-label>Your wEXOS receive address</mat-label>
                                    <input matInput>
                                </mat-form-field>
                                <p>From your personal Metamask wallet</p>
                            </div>
                        </form>
                    </div>
                    <div fxFlex fxLayout="column" class="swapping-right-column">
                        <a class="toDashboard" routerLink="/dashboard">
                            <div fxFlex>
                                <h1>wEXOS Portal</h1>
                                <p>Visit the dashboard and check out the EXOS/wEXOS learning materials</p>
                            </div>
                        </a>
                        <button mat-flat-button class="trouble-button">
                            I'M HAVING TROUBLE
                            <mat-icon class="little-icon" aria-label="Print">build</mat-icon>
                        </button>
                        <!-- Here we should add another reference to the logger -->
                        <div class="swapping-alert">
                            <div class="swapping-error-title">
                                <h3>Error title</h3>
                            </div>
                            <div class="swapping-error-description">
                                <p>Error description</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div fxFlex class="swapping-checkboxes">
                    <mat-checkbox>I have familiarized myself with the <a>Exos swap tutorials</a> and the <a>EXOS Dashboard website</a> materials</mat-checkbox>
                    <mat-checkbox>I accept <a>the risks</a> and the <a>associated terms and conditions</a> of EXOS to wEXOS swaps</mat-checkbox>
                    <mat-checkbox>I am aware that wEXOS should be transfered no earlier than 21st of May, 2021</mat-checkbox>
                </div>
                <div fxFlex class="swapping-buttons">
                    <button mat-flat-button>MORE INFO</button>
                    <button mat-flat-button>PROCEED</button>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="LIST OF TRANSACTIONS">
            <div fxLayout="column" fxLayout.xs="column" fxLayout.sm="column" class="swap-transactions">
                <h1 style="display: none;">You have no transactions to view, yet. Please initiate a swap first</h1>
                <h1>Please double-click a transaction to see more details</h1>
                <table>
                    <tr class="tx-headers">
                        <th></th>
                        <th>Value</th>
                        <th>Status</th>
                        <th>Date modified</th>
                    </tr>
                    <tr class="tx-data">
                        <td><mat-icon>swap_horiz</mat-icon></td>
                        <td>2000 EXOS</td>
                        <td>User sent EXOS to the swapping gateway</td>
                        <td>18-05-2021-20:30:12 UTC (completed)</td>
                    </tr>
                </table>


                <!-- <table class="wallet-transactions-table interactive-table" mat-table matSort [dataSource]="dataSource">

                    <ng-container matColumnDef="transactionType">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Value </th>
                        <td mat-cell *matCellDef="let transaction" [ngClass]="{'unconfirmed': !transaction.transactionConfirmedInBlock}">
                            <mat-icon class="wallet-confirmed-icon" matTooltip="Transaction not confirmed in any blocks yet." matTooltipPosition="right" *ngIf="!transaction.transactionConfirmedInBlock">warning</mat-icon>
                            <mat-icon class="wallet-confirmed-icon" matTooltip="Confirmed in block #{{transaction.transactionConfirmedInBlock}}" matTooltipPosition="right" *ngIf="transaction.transactionConfirmedInBlock">check</mat-icon>
                            {{transaction.transactionType}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="transactionValue">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Value </th>
                        <td mat-cell *matCellDef="let transaction" [ngClass]="{'unconfirmed': !transaction.transactionConfirmedInBlock}">
                            <mat-icon class="wallet-confirmed-icon" matTooltip="Transaction not confirmed in any blocks yet." matTooltipPosition="right" *ngIf="!transaction.transactionConfirmedInBlock">warning</mat-icon>
                            <mat-icon class="wallet-confirmed-icon" matTooltip="Confirmed in block #{{transaction.transactionConfirmedInBlock}}" matTooltipPosition="right" *ngIf="transaction.transactionConfirmedInBlock">check</mat-icon>
                            {{transaction.transactionType}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="transactionStatus">
                        <th mat-header-cell *matHeaderCellDef> Status </th>
                        <td mat-cell *matCellDef="let transaction" [ngClass]="{'unconfirmed': !transaction.transactionConfirmedInBlock}">
                            <span *ngIf="transaction.transactionType == 'sent'">
                                <strong>- {{ transaction.transactionAmount + transaction.transactionFee | coinNotation | number: '1.0-8': this.localeService.locale
                                }}
                                </strong>
                            </span>
                            <span *ngIf="transaction.transactionType == 'received'">
                                <strong>+ {{ transaction.transactionAmount + transaction.transactionFee | coinNotation | number: '1.0-8': this.localeService.locale
                                }}
                                </strong>
                            </span>
                            <span *ngIf="transaction.transactionType == 'staked'">
                                <strong>+ {{ transaction.transactionAmount + transaction.transactionFee | coinNotation | number: '1.0-8': this.localeService.locale
                                }}
                                </strong>
                            </span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="transactionTimestamp">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date modifie </th>
                        <td mat-cell *matCellDef="let transaction" [ngClass]="{'unconfirmed': !transaction.transactionConfirmedInBlock}">
                            <span *ngIf="!appState.handset">{{ transaction.transactionTimestamp * 1000 | date:'medium': this.localeService.locale
                            }}</span>
                            <span *ngIf="appState.handset">{{ transaction.transactionTimestamp * 1000 | date:'short': this.localeService.locale
                            }}</span>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openTransactionDetails(row)"></tr>
                </table> -->

                <div fxFlex class="swapping-buttons-2">
                    <p><mat-icon class="info-icon little-icon" aria-label="Print">info</mat-icon> What does the status of my transaction(s) mean?</p>
                    <button mat-flat-button>INITIATE A NEW SWAP</button>
                </div>
            </div>
        </mat-tab>

    </mat-tab-group>      
    <!-- <nav mat-tab-nav-bar mat-stretch-tabs>
        <a mat-tab-link *ngFor="let opt of options" (click)="filterHistory(opt)" [active]="activeOption == opt" class="transaction-types"> {{opt.title}} </a>
    </nav> -->
</div>
