.mat-dialog-container {
    background-image: url('../../../assets/exos-core/Transactions-Block.png') !important;
    background-size: cover;
}

.add-node-content {
    color: white;
}

.accept-button {
    background-image: url('../../../assets/exos-core/Button.png') !important;
    font-size: 1rem;
}

.cancel-button {
    background-image: url('../../../assets/exos-core/Wallet-Button.png') !important;
    font-size: 1rem;
    border: solid 1px white;
}
