.network {

    .add-node {
        float: right;
        margin-right: 18px;
        margin-top: 4px;
    }

    .mat-card {
        background-image: url('../../../assets/exos-core/Balance_Block.png');
        background-size: cover;
        color: white;
        // margin: 30px;
        // margin: 30px 30px 0 30px;
        height: 80px !important;
        display: flex;
        flex-flow: column;
        justify-content: center;
    }
    
    .mat-card-subtitle {
        margin-top: 5px;
        color: white;
    }

    .details-content
    {
        margin-top: 14px;
    }

    .network-grid
    {
        border-bottom: 1px solid silver;
    }

    .network-stat-row {
        margin-bottom: 0px !important;
    }

    .network-details-footer {
        text-align: center;
        padding-bottom: 20px;
    }

    .network-label {
        padding-bottom: 10px;
    }

    .network-value
    {
        font-size: 1.6em;
    }

    .mat-grid-list {
        color: white;
    }

    .mat-grid-tile .mat-figure {
        flex-direction: column !important;
    }

    .mat-grid-tile {
        background-image: url('../../../assets/exos-core/Wallet-Button.png');
        background-size: cover;
        border-right: 1px solid silver !important;
        border-bottom: 1px solid silver !important;
    }

    .network-grid > .mat-grid-title {
        border-right: 1px solid silver !important;
        border-bottom: 1px solid silver !important;
    }

    .network-grid .mat-icon {
        font-size: 1.6em !important;
    }

    .mat-list .mat-list-item , .mat-list-base .mat-subheader {
        color: white;
    }
    .accept-button {
        background-image: url('../../../assets/exos-core/Button.png');
        background-size: cover;
        color: white;
        font-size: 1.1rem;
    }
    .cancel-button {
        width: 100px;
        background-image: url('../../../assets/exos-core/Wallet-Button.png');
        background-size: cover;
        color: white;
        font-size: 1.1rem;
    }
}
