<div class="content">
    <h1 class="mat-h1" *ngIf="appState.handset">{{appState.appTitle$ | async}}</h1>

    <h3 class="mat-h3">May 17, 2021 (1.0.19)</h3>
    <ul>
        <li>Update daemon version(46e7d6d)(BIP9 Activation)</li>
    </ul>

      <h3 class="mat-h3">May 6, 2021 (1.0.18)</h3>
    <ul>
        <li>Add device storage check minimum to 5GB free</li>
        <li>Fix Download & unpack process</li>
        <li>Add 'Reset database' option</li>
    </ul>

    <h3 class="mat-h3">May 3, 2021</h3>
    <ul>
        <li>Fix linux icons</li>
        <li>Update daemon reference(a12f30)</li>
    </ul>

    <h3 class="mat-h3">April 28, 2021</h3>

    <ul>
        <li>Implemented error filtering</li>
        <li>Add modules load on initial loading screen</li>
        <li>Add updates check (with notifications)</li>
        <li>Fix Create button bug on login page</li>
    </ul>

    <h3 class="mat-h3">March 30, 2021 (v1.0.17)</h3>

    <ul>
        <li>Add downloading and unpacking feature</li>
        <li>Manage downloaded packages on chain folder</li>
        <li>Add UI efects to downloading feature</li>
        <li>Redirect download process to public server</li>
        <li>Add button to load definition</li>
        <li>Update exoeconomy logos</li>
        <li>Update dashboard cards</li>
        <li>Add blink feature to download button</li>
        <li>Add wallet warning when is updating</li>
        <li>Add API button in settings view</li>
        <li>Remove mac targets (dmg, zip)</li>
        <li>Add mac target pkg</li>
        <li>Update daemon checkpoints to 1,401,000 block</li>
        <li>Add blink feature to download button</li>
        <li>Fix cards sizes</li>
        <li>Refactor dashboard css</li>

    </ul>


    <h3 class="mat-h3">March 19, 2021 (v1.0.16)</h3>

    <ul>
        <li>Fix update system</li>
    </ul>

    <h3 class="mat-h3">March 15, 2021 (v1.0.15)</h3>

    <ul>
        <li>Update daemon version</li>
        <li>Fix small bugs network view</li>
    </ul>

    <h3 class="mat-h3">February 19, 2021 (v1.0.9)</h3>

    <ul>
        <li>Add locales support</li>
        <li>UI Update logos and styles</li>
        <li>Update Material cards styles </li>
        <li>Add name wallet to "Send" and "Receive" view</li>
        <li>Fix open wallet buttons on "About" view</li>
        <li>Update default size window</li>


    </ul>



    <h3 class="mat-h3">October 4, 2018 (v1.0.1)</h3>

    <ul>
        <li>
            <strong>Add EXOS support</strong>
        </li>
    </ul>

    <br>
    <em>Preview release change history was purged.</em>

</div>
