<div class="content details-content content-big-margin">

    <div class="details-row">
        <div class="details-row-title">Current status:</div>
        <div class="details-row-value">User sent EXOS to the swapping gateway</div>
    </div>

    <br>
    <div class="details-row">
        <div class="details-row-title">Value in EXOS:</div>
        <div class="details-row-value">
            2000 EXOS
        </div>
    </div>

    <div class="details-row">
        <div class="details-row-title">Value in wEXOS:</div>
        <div class="details-row-value">
            2000 wEXOS
        </div>
    </div>

    <div class="details-row">
        <div class="details-row-title">Date signed:</div>
        <div class="details-row-value">
            18-05-2021-20:30:12 UTC
        </div>
    </div>

    <div class="details-row">
        <div class="details-row-title">Tx ID:</div>
        <div class="details-row-value">
            ef810a8f0dd24a01... <mat-icon>launch</mat-icon>
        </div>
    </div>

    <br>
    <div class="details-row">
        <div class="details-row-title">Destination wEXOS address:</div>
        <div class="details-row-value">
            0x2378af9238...
        </div>
    </div>

    <div class="details-row">
        <div class="details-row-title">Expected delivery date:</div>
        <div class="details-row-value">
            21st of May, 2021 <mat-icon>launch</mat-icon>
        </div>
    </div>

    <div class="details-row">
        <div class="details-row-title">wEXOS transaction fees:</div>
        <div class="details-row-value">
            0.000 wEXOS
        </div>
    </div>

    <br>
    <div class="details-row">
        <div class="details-row-title">Actual delivery date:</div>
        <div class="details-row-value">
            21-05-2021-15:40:12 UTC
        </div>
    </div>

    <div class="details-row">
        <div class="details-row-title">Tx ID:</div>
        <div class="details-row-value">
            2498af8239de919d... <mat-icon>launch</mat-icon>
        </div>
    </div>
</div>
