.login
{

    .header {
        color: white;
        font-size: 2rem;
        margin-bottom: 80px;
    }

    .subheader {
        color: white;
        font-size: 1.4rem;
        margin-bottom: 40px;
    }

    .login-container
    {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .login-content
    {
        width: 55%;
        min-width: 240px;
        display: flex;
        background-color: #3f0f79;
        background-image: url('../../../assets/exos-core/Left-Block-Gradient.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .inner-content {
        display: flex;
        flex-flow: column;
        padding: 10%;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .login-buttons{
        display: flex;
        flex-flow: row;
        justify-content: space-between;
    }

    .login-unlock-button , .login-cancel-button {
        padding: 10px 0;
        border-radius: 10px;
        width: 45%;
        font-size: 1rem;
        font-weight: bold;
    }

    .login-create-button , .login-restore-button {
        padding: 10px 0;
        border-radius: 10px;
        width: 90px;
        font-size: 1rem;
        font-weight: bold;
    }

    .login-logo
    {
        width: 50%; 
    }

    mat-form-field {
        width: 100%;
    }

    .mat-form-field-appearance-fill .mat-form-field-flex {
        background: white;
        border-radius: 10px;
    }

    .mat-form-field-underline {
        display: none;
    }

    mat-label, .mat-select .mat-select-value, input, .mat-select-arrow {
        font-size: 1rem;
        color: black !important;
    }

    .error-messages {
        color: white;
    }

    .login-header{
        flex-grow: 1;
    }

    .login-accounts {
        width: 60%;
        flex-grow: 0;
        color: white;
    }

    .login-actions
    {
        width: 60%;
        margin-bottom: 30px;
        flex-grow: 0;
        align-items: center;
        justify-content: space-between;
        display: flex;
        position: sticky;
    }

    .login-mode
    {
        flex-grow: 2;
        align-items: flex-end;
        display: flex;
        flex-flow: column;
    }

    .lower-info {
        width: 60%;
        display: flex;
        flex-flow: row;
        margin-top: 30px;
    }

    .login-banner
    {
        display: flex;
        background-color: white;
        width: 45%;
        background-image: url('../../../assets/exos-core/Background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .login-banner-content
    {
        margin: 10%;
    }

    .login-banner-text
    {
        text-align: left;
        color: white;
    }

    .login-mode-mobile {
        display: none;
    }
}

@media screen and (max-width: 599px) {
    .login
    {
        .login-container {
            flex-direction: column;
        }

        .login-banner {
            width: 100%;
            flex-grow: 1;
        }

        .login-mode-mobile {
            display: block;
            bottom: 10px;
            position: absolute;
            min-width: 200px;
            margin-left: 25%;
            margin-right: 25%;
            //display: flex;
            //justify-content: center;
            //padding-top: 40px;
        }

        .login-mode {
            display: none;
            // flex-grow: 2;
            // align-items: flex-end;
            // justify-content: center;
            // display: flex;
            // margin-bottom: 20px;
            // position: absolute;
            // display: inline-block;
            // bottom: 20px;
            // text-align: center;
        }
    }
}
