<div class="login-container not-selectable">
    <div class="login-content">
        <div class="inner-content">
            <h1 class="alata-regular header">The Global Transformation Economy</h1>
            <h2 class="alata-regular subheader">User Wallet</h2>
            <div class="login-accounts" *ngIf="hasWallet">
                <mat-form-field appearance="fill">
                    <mat-label><mat-icon>account_balance_wallet</mat-icon> Select Wallet</mat-label>
                    <mat-select [(ngModel)]="selectedAccount">
                        <mat-option *ngFor="let account of accounts" [value]="account">
                            {{account.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <span *ngIf="selectedAccount != null">
                    <br>
                    <mat-form-field appearance="fill" class="form-field">
                        <mat-label><mat-icon>lock</mat-icon> Wallet password</mat-label>
                        <input matInput type="password" (keyup.enter)="unlock()" [(ngModel)]="password" placeholder="Fill out to unlock wallet">
                    </mat-form-field>
                    <br>
                    <div class="login-buttons">
                        <button class="login-cancel-button" (click)="cancel()" mat-flat-button>Create</button>
                        <button class="login-unlock-button" (click)="unlock()" [disabled]="unlocking" mat-flat-button >Unlock</button>
                    </div>
                    <br>
                    <br>
                    <div *ngIf="invalidPassword">The password is not correct.</div>
                </span>
                <span *ngIf="errorMessage" class="error-messages">
                    {{errorMessage}}
                </span>
                <br>
            </div>
            <div class="login-actions" *ngIf="selectedAccount == null">
                <button routerLink="/account/create" mat-flat-button class="login-create-button">Create</button>
                or
                <button routerLink="/account/recover" mat-flat-button class="login-restore-button">Restore</button>
                your account
            </div>
            <div class="lower-info">
                <div fxFlex>
                    <p class="login-banner-text">Release {{appState.version}}<br>
                    Network: {{appState.network}}<br>
                    Mode: {{appState.mode}}<br>
                    <span *ngIf="status">
                        Connections: {{status?.inboundPeers.length + status?.outboundPeers.length}}
                    </span>
                    </p>
                </div>
                <div class="login-mode">
                    <button style="color:white" mat-button (click)="changeMode()"><span class="material-icons">public</span> Change Mode</button> &nbsp;
                    <button style="color:white" mat-button routerLink="/advanced">
                        <mat-icon mat-list-icon>settings</mat-icon>
                        Tools
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="login-banner">
        <img src="assets\exos-core\Coin.png" class="login-logo">
    </div>
</div>
